.navinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999; 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.navinfo.active {
  opacity: 1;
  pointer-events: auto;
}

.navinfo-content {
  width: 25%;
  height: 25%;
  border: 1px solid #ff00ff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.navinfo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.navinfo .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navinfo .close:hover {
  color: #00ff00;
}