.navinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}



.navinfo h1{
  font-size: 24px;
  margin-bottom: 10px;
}

.navinfo .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navinfo .close:hover {
  color: red;
}